<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<title> JOYOU </title>
    <link rel="stylesheet" href="/static/css/screen.css" />
    <link rel="stylesheet" href="/static/css/ecshop/normal.css" />
	{% block css %}
	{% endblock %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	{% block javascript %}
	{% endblock %}
	<meta charset="utf8" />
</head>
<body>
	<a name="top"></a>
	<div id="page">
		<div id="header">
			{% include "ecshop/header.html" %}
		</div>
		<div class="blank5"></div>
		<div id="content clearfix">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			{% include "ecshop/footer.html" %}
		</div>
	</div>
</body>

