{% extends "ecshop/frame.html" %}
{% block css %}
<link href="/static/css/ecshop/goods.css" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
<script src="http://a.tbcdn.cn/s/kissy/1.1.7/seed-min.js"></script>
</style>
<script type="text/javascript">
KISSY.use('imagezoom', function(S) {
	S.ready(function(S) {
		var m = new S.ImageZoom("#img_booth", {
			zoomSize: [430, 310]
		});
		S.Event.on("#img_thumbs li", 'mouseenter', function() {
			if (!S.DOM.hasClass(this, 'thumb_selected')) {
				S.DOM.removeClass(".thumb_selected", "thumb_selected");
				S.DOM.addClass(this, 'thumb_selected');
				var data = S.DOM.attr(this, 'data-ks-imagezoom');
				m.changeImageSrc(data+'_310x310.jpg');
				m.set('bigImageSrc', data);
			}
		});
	});
});
</script>
{% endblock %}

{% block content %}
<div class="left_side">
	{% include "ecshop/parts/notify.html" %}
	<div class="blank5"></div>
	{% include "ecshop/parts/cartinfo.html" %}
	<div class="blank5"></div>
</div>
<div class="right_side">
	<div class="clearfix" id="goods_info">
		<div class="gallery">
			<div class="booth">
				<a href="#"><img id="img_booth" data-ks-imagezoom="http://img01.taobaocdn.com/bao/uploaded/i1/{{ data.goods.galleries.all.0.image }}.jpg" src="http://img01.taobaocdn.com/bao/uploaded/i1/{{ data.goods.galleries.all.0.image }}.jpg_310x310.jpg"/></a>
			</div>
			<ul class="img_thumbs clearfix" id="img_thumbs">
				{% for gallery in data.goods.galleries.all %}
				<li class="{% if forloop.first %}thumb_selected{% endif %}" data-ks-imagezoom="http://img01.taobaocdn.com/bao/uploaded/i1/{{ gallery.image }}.jpg">
				<div class="thumb_pic tb_s40">
					<a href="#"><img src="http://img01.taobaocdn.com/bao/uploaded/i1/{{ gallery.image }}.jpg_40x40.jpg"></a>
				</div>
				</li>
				{% endfor %}
			</ul>
			<div class="blank5"></div>
		</div>
		<div class="goods_detail">
			<div class="goods_title">
				<h5>{{ data.goods.name }}</h5>
			</div>
			<ul class="goods_props clear fix">
				<li><span>商品编号：</span>G49B7AF58591B6</li>
				<li><span>货号：</span><span id="goodsBn">G49B7AF2072AF8-1</span></li>
				<li><span>品　　牌：</span><a href="http://localhost:8080/?brand-15.html" target="_blank">G-Star</a></li>
				<li><span>材质：</span><a href="http://localhost:8080/?gallery--tp,4_1,4_p,0-6.html" target="_blank">帆布</a></li>
				<li><span>适合季节：</span><a href="http://localhost:8080/?gallery--tp,4_2,4_p,0-6.html" target="_blank">春秋季</a></li>
				<li><span>鞋跟：</span><a href="http://localhost:8080/?gallery--tp,4_3,2_p,0-6.html" target="_blank">平底</a></li>
				<li><span>鞋带：</span><a href="http://localhost:8080/?gallery--tp,4_4,0_p,0-6.html" target="_blank">系带</a></li>
				<li><span>款式：</span><a href="http://localhost:8080/?gallery--tp,4_5,2_p,0-6.html" target="_blank">平头</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
