{% extends "frame.html" %}
{% load i18n %}
{% block css %}
<link rel="stylesheet" href="/static/css/taobao/login.css" />
{% endblock %}

{% block content %}
<div class="login">
	<div class="login-box">
		<div class="hd">
				<ul>
					<li class="current"><h2>Member</h2></li>
					<li><a href="#">&nbsp;</a></li>
				</ul>
		</div>
		<div class="bd">
			<div class="member-box">
				{% if form.errors and not form.non_field_errors %}
				<p class="errornote">
				{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
				</p>
				{% endif %}

				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				<p class="errornote">
					{{ error }}
				</p>
				{% endfor %}
				{% endif %}
				<form id="login-form" method="post" action="">
					{% csrf_token %}
					{% for field in form %}
					<div class="text {% if field.errors %} error {% endif %}">
						{{ field.label_tag }}&nbsp;{{ field }}
						{{ field.errors }}
					</div>
					{% endfor %}
					<div class="options">
						<span class="long-login" style="visibility: visible;">
							<input type="checkbox" class="longlogin" id="longlogin"><label for="longlogin">Remember me</label>
						</span>
						<a href="#" target="_blank" title="Support" id="support" class="long-login-help" style="visibility: visible;">Support</a>
					</div>
					<div class="submit">
						<button tabindex="3" class="J_Submit" type="submit">Submit</button>
						<a class="forget-pw" id="forget-pw-safe" target="_blank" href="">Forget Password</a>
					</div>
					<ul class="entries">	
						<li id="registerUrl_1">
							<a target="_blank" href="#">Register Free</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
		<div class="ft">
		</div>
		<div class="login-mirrow"></div>
	</div>
	<div class="login-bg"></div>
<script type="text/javascript">
(function($) {
var errs = $(".error input");
if (errs.length > 0) {
	errs[0].focus();
} else 
	document.getElementById('id_username').focus();
})(jQuery);
</script>
</div>
{% endblock %}
